* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.box {
  border: 2px solid purple;
  width: 100vw;
  height: 100vh;
}

.text {
  display: flex;
  /* align-items: end; */
  justify-content: center;
}

.text h1 {
  font-size: 5rem;
  font-family: sans-serif;
  margin-top: 8rem;
}

.container {
  display: flex;
  justify-content: center;
}

.toggle_bar {
  height: 3rem;
  width: 7rem;
  /* border: 2px dashed greenyellow; */
  margin-top: 3rem;
  background-color: rgb(61, 61, 61);
  border-radius: 35px;
  display: flex;
  align-items: center;
}

.switch {
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 100;
}

.transform {
  transform: translateX(10);
}

.moon {
  color: yellow;
  font-size: 2rem;
  rotate: 220deg;
  margin-left: 2.5rem;
}

.sun {
  color: yellow;
  font-size: 2rem;
  rotate: 220deg;
  margin-left: 5px;
}
